<div>
  <h2>Introduction</h2>
  <p> This is a small application to practice Angular 6</p>
  <h2>Data binding</h2>
  <p>
    Property binding and interpolation are mechanisms for one-way
    data binding, meaning that the data flows from a data source to a view target.
  </p>
  <h3>
    Property binding using square brackets
  </h3>
  <p>Display food name using Property Binding [innerText]="food.name"</p>
  <p [innerText]="food.name"> </p>
  <h3>
    Interpolation using curly brackets
  </h3>
  <p>{{food.name}} </p>
</div>