<div>
  <h2>Data binding</h2>
  <p>
    Property binding and interpolation are mechanisms for one-way
    data binding, meaning that the data flows from a data source to a view target.
  </p>
  <h3>
    Property binding using square brackets
  </h3>
  <p>Display food name using Property Binding [innerText]="food.name"</p>
  <p [innerText]="food.name"> </p>
  <h3>
    Interpolation using curly brackets
  </h3>
  <p>{{food.name}} </p>
  <h3>Button events</h3>
  Click buttons and check console messages
  <!-- <div> <button [disabled]="isDisabled" (click)="buttonClicked()"> Button calling component method </button></div> -->
  <div> <button [disabled]="isDisabled" (click)="buttonClicked(1)"> Button calling passing random data </button></div>
  <div> <button [disabled]="isDisabled" (click)="buttonClicked($event)"> Button passing event </button></div>
</div>